body {
    font-family: arial;
    font-size: 13px;
  }
  
  header {
    height: 89px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.75;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  .content {
    text-align: center;
    margin: 30px;
  }
  
  .search {
    text-align: center;
    margin: 20px;
  }
  
  .search input[type="text"] {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    outline-width: 0;
  }
  
  .submit input[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    font: 400 11px system-ui;
    height: 36px;
    line-height: 27px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
  }
  